<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EMP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <EMP.Properties.Settings>
      <setting name="VolUp" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="VolDown" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Foward" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Backward" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="defPined" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="defVolume" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="defFullscreen" serializeAs="String">
        <value>False</value>
      </setting>
    </EMP.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="ZuesMusicEntities" connectionString="metadata=res://*/DataStructure.Model1.csdl|res://*/DataStructure.Model1.ssdl|res://*/DataStructure.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THGROUP;initial catalog=ZuesMusic;user id=sa;password=.gptwmdaj;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>